<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter Tattoo Details</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  <p class="tattoos">Tattoo Details</p>
<div class="post">
  <form action="/" method ="post">
    <label for="tattooname">Tattoo Name:</label><br>
    <input type="text" name="tattooname" value="" placeholder=" "><br>
    <br>
    <label for="tattootheme">Tattoo Theme (i.e: traditional, black and grey, custom):</label><br>
    <input type="text" name="tattootheme" value="" placeholder=" "><br>
    <br>

    <p class="tattooelements">Tattoo Elements: (flower, animals etc.):</p><br>
    <label for="primarycolor">Primary Color:</label><br>
    <input type="text" name="primarycolor" value="" placeholder=" "><br>

    <label for="addedeffects">Added Effects:</label><br>
    <input type="text" name="addedeffects" value="" placeholder=" "><br>

    <label for="text">Text:</label><br>
    <input type="text" name="text" value="" placeholder=" "><br>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>

<h2>Tattoo Collection</h2>

<div class=container>
<div class="output">
        {{#allTattoos}}
        <p class="tattname">Tattoo Name: {{name}}</p>
        <p class="tatt-theme">Tattoo Theme:{{theme}}</p>
        <p class="tatt-elements">Tattoo Elements:</p>
        {{#elements}}
        <ul>
          <li class="primarycolor">PrimaryColor:{{primarycolor}}</li>
          <li class="addedeffects">Added Effects:{{addedeffects}}</li>
          <li class="text">Text:{{text}}</li>
        </ul>
        {{/elements}}
        {{/allTattoos}}
      </div>
    </div>
  </body>
</html>
